/build/
/.ipython/
/.kernel/
target
*.rs.bk
*.iml
.idea
__pycache__
*.pyc
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
test_results/*
tags
*.core
*.profraw
.DS_Store
*.bin
/resources/linux
/resources/x86_64
/resources/aarch64
